<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuongMinhKhoi</title>
</head>
<body>
    <h1>Hello world with LMK from view</h1>
</body>
</html>